/*
ChuspaLMS: Client hybridization used as substitute for the proprietary to
access learning management systems.
Copyright (C) 2019-2021, 2024  Adonay Felipe Nogueira <https://libreplanet.org/wiki/User:Adfeno> <adfeno.7046@gmail.com>

This file is part of ChuspaLMS.

ChuspaLMS is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

ChuspaLMS is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
ChuspaLMS.  If not, see <https://www.gnu.org/licenses/>.
*/

#navbar,
#container,
#footer {
  overflow: initial !important;
  position: initial !important;
}

article.chuspalms,
details.chuspalms {
  border: solid rgba(0, 0, 0, 0.25);
  background: white;
  margin: 1%;
}

article.chuspalms > *,
details.chuspalms > *, 
details.chuspalms > summary > * {
  margin-left: 1%;
  margin-right: 1%;
}

[name="me_mensagem"],
[name="objConteudo[arrTrabalho][me_texto]"] {
  width: 95% !important;
}
