/*
ChuspaLMS: Client hybridization used as substitute for the proprietary to
access learning management systems.
Copyright (C) 2019-2021, 2024  Adonay Felipe Nogueira <https://libreplanet.org/wiki/User:Adfeno> <adfeno.7046@gmail.com>

This file is part of ChuspaLMS.

ChuspaLMS is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

ChuspaLMS is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
ChuspaLMS.  If not, see <https://www.gnu.org/licenses/>.
*/

#cd_filtro,
#div-meus-requerimentos,
#div-lista-requerimentos,
#div-lista-requerimentos-outros,
.collapsible,
.collapsible-body,
#menu_toggle:checked ~ * span,
fieldset[title^="Etapa"] div[id^="repeticao"],
#pdfReader,
[id^="turmas_"],
[id^="turmas_"] [id^="disciplinas_0"] {
  display: initial !important;
}

.no-scroll {
  overflow: initial !important;
}

main {
  display: initial !important;
  opacity: initial !important;
}

/*
The identity #menu_toggle is part of a CSS-only trick to make hidden menus.

Property opacity is used and set to zero (instead of display set to none)
so that this checkbox can be selected for example with tab index (that is:
successful uses of Tab key should get you to this checkbox).
*/
#menu_toggle {
  opacity: 0%;
}

.menu-lateral > [for="menu_toggle"] {
  color: white;
  display: block;
  text-align: center;
}

/*
As for the '…:focus + … > [for="…"]' combination, it complements the hidden
menu trick with currentColor which should match the checkbox (parent) color,
when this is selected for example using the Tab key.
*/
#menu_toggle:focus + .menu-lateral > [for="menu_toggle"] {
  outline: auto currentColor;
}

.menu-lateral {
  max-width: 30%;
  width: auto;
}

/*
This shows the hidden menu.
*/
#menu_toggle:checked + .menu-lateral {
  max-width: 100%;
  width: auto !important;
}

#uni-modal-loader,
.menu-lateral > .menu-lateral-perfil,
fieldset[title="Revisão"] {
  display: none !important;
}

/*
Shows the profile's summary only when the menu is shown.
*/
#menu_toggle:checked + .menu-lateral > .menu-lateral-perfil {
  display: inherit !important;
}

.menu > #menu {
  height: 95% !important;
  overflow-y: scroll !important;
  width: auto;
}

#menu_toggle:checked ~ * #menu {
  height: 45% !important;
}

.menu > #menu span {
  display: none;
  opacity: 100%;
}

.iframe-container {
  height: auto;
  margin-left: 10%;
  max-height: 85%;
  max-width: 90%;
  position: static;
  width: auto;
}

.waves-effect.waves-light.btn.light-blue {
  width: 100% !important;
}

@media  only screen and (min-width: 600px) {
  #menu_toggle:checked + .menu-lateral {
    max-width: 40%;
  }
}
